<html>
    <head>
        <title>Redirecting to {{redirectName}}
        </title>
    </head>
    <body>
    Login Success - redirecting to {{redirectName}}
    If nothing happens, press <a href="{{{redirectUrl}}}">here</a>
    </body>
    <script>
       window.location.href ='{{{redirectUrl}}}';
    </script>
</html>